@import url("https://fonts.googleapis.com/css?family=Lora:400,400i|Open+Sans:300,400,600,700,800");

*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:"Lora", serif;

}

body{
    background-color:rgb(127, 206, 238);

}





.about-card{
    background-color:rgb(36, 142, 184);
    box-shadow:5px 5px 25px 5px rgb(9, 178, 245);
    width:80%;
    height:500px;
    margin:50px 135px 50px 135px;
    border-radius:5px;
    
}
.logo-img{
    float:left;
    height:200px;
    width:200px;
    border-radius:50%;
    margin:20px 0px 0px 30px;
    box-shadow: 0 0 20px rgb(245, 245, 245);
    border-style:solid;
    border-color:white;
}

.logo-img:hover{
    box-shadow: 0 0 40px rgb(245, 245, 245);
    cursor:pointer;
    transition:all 2s;
 
}


.mom{
    padding:170px 0px 10px 100px;
    margin:0px 0px 0px 100px;
    text-shadow: 0 0 15px rgb(245, 245, 245);
    font-size:35px;
    font-family:'viga';
    color:white;
}
.mom:hover{
    color:white;
    transition:all 2s;
    text-shadow: 0 0 45px rgb(245, 245, 245);
    cursor:pointer;
    
}
hr{
    background-color:black;
    height:1px;
    width:250px;
    border-radius:50%;

}
.text{
    margin:200px;
	color:rgb(127, 206, 238);
    	font-size:18px;
    	font-style:italic;
    	font-family: "Lora", serif;
    
    	margin:0px 70px 0px 230px ;
}

.button{
    margin:10px 90px 0px 0px;
    box-sizing:border-box;
    float:right;
    height:25px;
    width:70px;
    color:rgb(9, 147, 202);
    background-color:rgb(234, 241, 241);
    border:none;
    text-decoration:none;
    text-align:center;
    padding:3px;
    border-radius:5px;
    box-shadow:0px 5px 10px rgb(68, 67, 67);
    font-size:18px;
}
.button:hover{
    cursor:pointer;
    box-shadow:0px 10px 10px rgb(68, 67, 67);
    transition:all 2s;
color:white;
    background-color:rgb(22, 178, 240);
   
}
a{
    text-decoration:none;
    color:rgb(27, 164, 223);
}
a:hover{
    color:whitesmoke;
    transition:all 2s;
}



@media (max-width:1040px){



    
.about-card{
    background-color:rgb(36, 142, 184);
    box-shadow:5px 5px 25px 5px rgb(9, 178, 245);
    width:100%;
    height:500px;
    margin:80px 0px 0px auto;
    border-radius:5px;

}
    
.logo-img{
    float:;
    height:120px;
    width:120px;
    border-radius:50%;
    margin:30px 0px 0px 100px;
}





.mom{
   
    font-size:30px;
    margin:-10px 30px 0px -50px;
}

hr{
    background-color:black;
    height:1px;
    width:220px;
    border-radius:50%;

}
.text{
	color:rgb(151, 248, 183);
    font-size:18px;
    padding:5px 10px 0px 20px;
    margin:0px 10px 0px 10px ;
}

}






@media (max-width:770px){



    
    .about-card{
        background-color:rgb(36, 142, 184);
        width:100%;
        height:auto;
        margin:80px 0px 80px auto;
        border-radius:5px;

        justify-content:center;
        align-content: center;
        padding-bottom:20px;
    
    }
        
    .logo-img{
        float:;
        height:150px;
        width:150px;
        border-radius:50%;
        margin:30px 0px 0px 100px;
    }
    
    
    
    
    
    .mom{
       
        font-size:30px;
        margin:-10px 30px 0px 0px;
    }
    
    hr{
        background-color:black;
        height:1px;
        width:220px;
        border-radius:50%;
        margin:0px 30px 0px 150px;
    
    }
    .text{
        color:rgb(151, 248, 183);
        font-size:30px;
        padding:5px 10px 0px 20px;
        margin:0px 10px 0px 10px ;
    }

    button{
        display:none;
    }
    
    }
    


@media (max-width:580px){


    
    
.about-card{
  margin:80px 0px 20px auto;  
  height:auto;
  padding-bottom:20px;
}
    
.logo-img{
    height:120px;
    width:120px;
    margin:30px 0px 0px 100px;
}


hr{
    display:none;
}


.mom{
   
    font-size:30px;
    margin:-10px 30px 0px -50px;
}


.text{
	color:rgb(151, 248, 183);
    font-size:18px;
    padding:5px 10px 0px 20px;
    margin:0px 10px 0px 10px ;
}
}

@media (max-width:420px){
    .about-card{
        background-color:rgb(37, 157, 204);
=
    }   
.logo-img{
    height:120px;
    width:120px;
    border-radius:50%;
    margin:30px 0px 0px 150px;
}





.mom{
   
    font-size:30px;
    margin:-10px 30px 0px 0px;
}


.text{
	color:rgb(151, 248, 183);
    font-size:18px;
    padding:5px 10px 0px 20px;
    margin:0px 10px 0px 10px ;
}

.button{
    display:none;
}


}



@media(max-width:375px){
	

    body{
        padding:30px 0px;
        height:auto;
        width:auto;
    }
    
    
    .about-card{
       
        background-color:rgb(9, 178, 245);
        box-shadow:5px 5px 25px 5px rgb(9, 178, 245);
        width:auto;
        height:auto;
        margin:auto;
        border-radius:5px;
    
        
    }
    .logo-img{
        float:;
        height:120px;
        width:120px;
        border-radius:50%;
        margin:30px 0px 0px 115px;
        box-shadow: 0 0 20px rgb(245, 245, 245);
        border-style:solid;
        border-color:white;
    }
    
    
    
    
    
    .mom{
        float:;
        text-shadow: 0 0 15px rgb(245, 245, 245);
        font-size:30px;
        font-family:'viga';
        color:white;
        margin:-10px 30px 0px -35px;
    }
    
    
    .text{
        color:rgb(151, 248, 183);
            font-size:18px;
            font-style:italic;
            font-family: "Lora", serif;
            padding:5px 10px 0px 20px;
            margin:0px 10px 0px 10px ;
    }
    
    
    .button{
        display:none;
    }
    
    
    
        }
    
    
    

@media(max-width:360px){
	

body{
    height:auto;
    width:auto;
}


.about-card{
    display:;
    background-color:rgb(9, 178, 245);
    box-shadow:5px 5px 25px 5px rgb(9, 178, 245);
    width:auto;
    height:auto;
    margin:auto;
    border-radius:5px;

    
}
.logo-img{
    float:;
    height:120px;
    width:120px;
    border-radius:50%;
    margin:30px 0px 0px 115px;
    box-shadow: 0 0 20px rgb(245, 245, 245);
    border-style:solid;
    border-color:white;
}





.mom{
    float:;
    text-shadow: 0 0 15px rgb(245, 245, 245);
    font-size:30px;
    font-family:'viga';
    color:white;
    margin:-10px 30px 0px -35px;
}


.text{
	color:rgb(151, 248, 183);
    	font-size:18px;
    	font-style:italic;
    	font-family: "Lora", serif;
        padding:5px 10px 0px 20px;
    	margin:0px 10px 0px 10px ;
}


.button{
    display:none;
}



	}





@media(max-width:320px){



.logo-img{
    float:;
    height:120px;
    width:120px;
    border-radius:50%;
    margin:30px 0px 0px 100px;
}





.mom{
   
    font-size:30px;
    margin:-10px 30px 0px -50px;
}

hr{
    background-color:black;
    height:1px;
    width:220px;
    border-radius:50%;

}
.text{
	color:rgb(151, 248, 183);
    font-size:18px;
    padding:5px 10px 0px 20px;
    margin:0px 10px 0px 10px ;
}

.button{
    display:none;
}



}