*{
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;

}
body{
  
    margin:0px;
    padding:0px;
}
.first{
    float:left;
    height:500px;
    width: 100%;
    
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 0 90%);
    background-color:#0E0F33 ;
    display:flex;
    justify-content:space-between;
}


.logo-part{
    height:150px;
    width:440px;
    
    background-color:;
    color:orange;
    padding:0px;
}

.logo-part:hover{
    cursor:pointer;
}
.logo-img{
    float:left;
    margin:0px 0px 0px 30px;
    height:130px;
    width:130px;
}
.logo-name{
    margin:0px;
    color:orange;
    text-decoration:none;
    font-family:sans-serif;
    font-size:18px;
    text-align:center;
    padding:40px 0px 0px 0px;
    opacity:0.9;
}


.logo-address{
    margin:0px;
    color:orange;
    text-decoration:none;
    font-family:sans-serif;
    font-size:15px;
    text-align:center;
    padding:0px 0px 0px 0px;
    opacity:0.9;
}

.navigation-div{
    height:40px;
    width:27%;
    display:flex;
    justify-content: space-between;
    background-color:;
    margin:90px 170px 0px 0px;
}
.nav-bar{
    list-style:none;
    justify-content: space-between;
}



.nav-anchor{
    color:white;
    text-decoration:none;
    font-family:sans-serif;
    font-size:16px;
}


.nav-anchor:hover{
    cursor:pointer;
    background-color:;
    color:#11dfee;
    
    transition:all 1.5s;
    
}




.second{
    height:657px;
    background-color:#59d6ec;
}





.third{
    height:657px;
    width:100%;
    background-color:rgb(222, 240, 241);
}

.img-about{
    position:relative;
    float:left;
    height:657px;
    width:100%;
    opacity:0.4;
}
.img-about:hover{
    opacity:1;
    background-image:url("img/img_1.jpg");
    transition: all 30s; 
    color:white;
}

.about-it{
    position:absolute;
    font-family:Arial, Helvetica, sans-serif;
    font-size:40px;
    opacity:;
    text-align:center;
    text-decoration:unset;
    text-transform:;
    letter-spacing:2px;
    padding:200px 0px 0px 0px;
    top:660px;
    left:480px;
    cursor:pointer;
}

.about-para{
    padding:50px 170px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:22px;
    text-align:center;
    opacity:0.8;
    word-spacing:2px;
    position: absolute;
    text-transform:;
    top:880px;
    left:20px;
    cursor:pointer;
}


.fourth{
    height:750px;
    width:100%;
    background-color:rgb(210, 240, 202);
    


}


.notice-name{
    font-size:45px;
    font-family:sans-serif;
    opacity:0.6;
    padding:110px 600px  0px 600px;
    text-decoration:underline;
    cursor:pointer;
    text-align:center;
}

.notice-board{
    margin:30px 0px 0px 265px;
    height:500px;
    width:60%;
    border-style:;
    background-color:rgb(180, 204, 235);
    border-radius:8px;
    box-shadow:0px 0px 7px 7px rgb(156, 151, 151);
    
}

.notice-ul{
 padding:30px 0px 0px 60px;
}





.notice-li{
    padding:5px;
    color:blue;
    cursor:pointer;
    
}





.notice-button{
    height:30px;
    padding:5px 9px;
    font-style:;
    float:right;
    margin-right:20px;
    margin-top:8px;
   
}


.notice-button:hover{
    cursor:pointer;
    color:white;
    background-color:blue;
    transition:all 1s;
}

.fifth{
    background-color:rgb(222, 237, 238);
    height:660px;
    width:100%;
    display:;
    margin:;
    
}



.forth-title{
    padding:100px 0px 0px 0px;
    text-align:center;
    font-size:40px;
    opacity:0.6;
    font-family:sans-serif;
    text-decoration: ;
}


.message-box1{
    border-radius:5px;
    float:left;
    display:;
    padding:0px 15px 10px 15px;
    margin:80px 0px 0px 290px;
    height:400px;
    width:320px;
    background:rgba(236, 231, 231, 0.199);
    box-shadow:0px 5px 5px 0px rgb(43, 41, 41);

}


.message-box2{
    border-radius:5px;
    float:left;
    display:;
    padding:0px 15px 10px 15px;
    margin:80px 0px 0px 150px;
    height:400px;
    width:320px;
    background:rgba(236, 231, 231, 0.199);
    box-shadow:0px 5px 5px 0px rgb(43, 41, 41);

}


.message-box1:hover{
    cursor:pointer;
    background:;
    box-shadow:0px 10px 10px 0px rgb(43, 41, 41);
}


.message-box2:hover{
    cursor:pointer;
    background:;
    box-shadow:0px 10px 10px 0px rgb(43, 41, 41);
}

.message-img{
    height:155px;
    width:70%;
    border-radius:5px;
   margin:5px 0px 0px 45px;
}

.message-para{
    padding:10px 5px 0px 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:15px;
    font-weight:10;
    opacity:0.7;
    text-align:left;

}


.read-more{
    height:;
    padding:5px;
    border-radius:5px;
   background-color: rgba(236, 231, 231, 0.199);
    text-align:center;
    font-size:14px;
    
    float:right;
   
}
.read-more:hover{
    border-color:red;
    background-color:rgb(31, 160, 235);
    cursor:pointer;
    transition:all 1s;
    color:white;
}




.sixth{
    height:700px;
    width:100%;
    background-color:rgb(242, 243, 192);
    
}

.student-title{
   
    text-align:center;
    font-size:45px;
    font-family:sans-serif;
    opacity:0.7;
    padding:150px 0px 0px 0px;



}
