body {
    padding: 5px 15%;
    background-color: #fff;
    font-family: Gotham Rounded, sans-serif;
}

.header-grid {
    /* color: white; */
    /* background-color: rgba(23, 20, 182, 0.801); */
    padding: 5px 10px;
    display: grid;
    grid-template-columns: 160px auto;
    grid-template-rows: auto auto;
    gap: 20px;
    border-radius: 20px;
}

.header-img {
    border-radius: 50%;
    height: 150px;
    width: 160px;
    grid-column: 1;
    justify-self: right;
    align-self: center;
}

.header-title {
    grid-column: auto;
    /* justify-content: flex-start; */
    align-items: center;
}

.header-title>.status {
    display: flex;
    justify-content: flex-start;
}

.status>p {
    margin-top: 0px;
    padding: 4px 4px;
}

.header-title>.status>span {
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
}

.soc-media {
    display: flex;
    margin-top: 15px;
}

.soc-media>a {
    margin-right: 15px;
}

.about-cate-bar {
    margin-top: 20px;
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: space-evenly;
    position: relative;
}

.about-cate-bar>div {
    padding: 2px 10px;
    padding-bottom: 5px;
}

.about-cate-bar>div:hover {
    cursor: pointer;
}

.profile-section>ul {
    margin-top: 14px;
}

.about-cate-bar>div:hover::after {
    content: "";
    display: block;
    height: 4px;
    background: black;
    margin-top: 0;
}

.about-cate-bar>.active::after {
    content: "";
    display: block;
    height: 4px;
    background: black;
    margin-top: 0;
    position: relative;
}

.activities-section,
.reviews-section {
    display: none;
}

.available-hospitals {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    /* grid-template-rows: repeat(2, 100px);  */
    grid-gap: 10px;
}

.available-hospitals .hospital {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    /* background-color: green; */
}

.hospital div {
    width: 100%;
}

.hos-add {
    width: 100%;
    word-wrap: break-word;
}

.hospital>img {
    width: 140px;
    height: 100px;
    margin-right: 10px;
}


/* review-section css */

.align-center {
    text-align: center;
}

.hash-list {
    display: block;
    padding: 0;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .hash-list.cols-3>li:nth-last-child(-n+3) {
        border-bottom: none;
    }
}

@media (min-width: 768px) {
    .hash-list.cols-3>li {
        width: 33.3333%;
    }
}

.hash-list>li {
    display: block;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.pad-30,
.pad-30-all>* {
    padding: 30px;
}

img {
    border: 0;
}

.mgb-20,
.mgb-20-all>* {
    margin-bottom: 20px;
}

.wpx-100,
.wpx-100-after:after {
    width: 100px;
}

.img-round,
.img-rel-round {
    border-radius: 50%;
}

.padb-30,
.padb-30-all>* {
    padding-bottom: 30px;
}

.mgb-40,
.mgb-40-all>* {
    margin-bottom: 40px;
}

.align-center {
    text-align: center;
}

[class*="line-b"] {
    position: relative;
    padding-bottom: 20px;
    border-color: #E6AF2A;
}

.fg-text-d,
.fg-hov-text-d:hover,
.fg-active-text-d.active {
    color: #222;
}

.font-cond-b {
    font-weight: 700 !important;
}


/* review section css end */

@media (max-width: 900px) {
    body {
        padding: 4px 5%;
    }
    .about-cate-bar>div {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    body {
        padding: 4px 1%;
    }
}