
	*{
        margin:0px;
        padding:0px;
        box-sizing:border-box;
        }
        
       /* 
        /*this css for heading part */
    
        section{
            position:fixed;
            height:auto;
            width:100%;
            background: rgb(39, 27, 151);
            display:flex;
            justify-content:space-between;
            z-index:2;
        }

        .heading-mom{
            color:white;
            text-align:center;
            font-size:35px;
            padding:15px  0px 15px 50px;
        }
        .back{
            color:white;
            height:auto;
            width:auto;
            background:rgb(247, 34, 34);
            border-radius:10px 0px 0px 10px;
           

        }
        .back:hover{
            background:rgb(39, 27, 151);
            color:rgb(34, 247, 194);
            transition:1s all;
            cursor:pointer;
        }
        a{
            text-decoration:none;
        }
        .go-para{
         
            font-size:25px;
            padding:21px 20px 21px 20px;
            
        }






        

        h4{
            padding:140px 65px 10px 50px;
        text-align:center;
        font-size:40px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        opacity:0.7;
        
        }


        hr{
            margin:10px 0px 0px 0px;
            width:auto;
        }
        .main-paragraph{
        font-size:18px;
        font-style:italic;
        padding:50px 100px 0px 100px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        opacity:0.8;
        
        }
        

        .img-sec{
            display:flex;
            justify-content:space-around;
        }
        .img-part{
            margin:30px auto;
            height:280px;
            width:500px;
        
        }


        .medicine-part{
            color:black;
            display:flex;
        }
        
        .medicine-img{
            border-radius:5px;
            height:250px;
            width:270px;
            float:;
            margin:0px 10px;
        }
        


        .container{
            height:auto;
            background-color:whitesmoke;
            width:900px;
            margin:30px 10px 50px 100px;
            padding:20px;
            border-radius:5px;

        }

        .sub-heading{
            font-family:sans-serif;
        padding:5px 100px 0px 10px;
        font-size:30px;
        opacity:0.7;
        }
        
        .sub-heading-2{
            padding:5px 100px 5px 20px;
            font-family:sans-serif;
            font-size:18px;
            opacity:0.7;
        
        }
        
        .sub-paragraph{
            opacity:0.7;
            padding:5px 20px 5px 30px;
            font-size:17px;
            font-family:Arial, Helvetica, sans-serif;
        }
        
        .sub-list{
            font-family:Arial, Helvetica, sans-serif;
            padding:10px 20px 5px 60px;
            font-size:17px;
            opacity:0.7;
        
        
        }
        
        
        footer{
            height:auto;
            width:100%;
            background:rgb(15, 7, 85);
            color:white;
            font-size:20px;
            text-align:center;
            margin-bottom:2px;
            margin:100px 0px 0px 0px;
            padding:15px;
        }
        
    
        

        
        
        
        
        